.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 0;
}

.App-btn {
  margin: 0 5px;
}